/* general styles */

:root {
    --main-font-family: "Barlow ,sans-serif";
    --second-font-family: "Fraunces ,serif";
    --white-text: #FEFCF7;
    --grey-text: #83888F;
    --second-grey-text: #333D4B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family);
    color: var(--second-grey-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* header styles */

.header .header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43.56px 0;
}

.header .header--nav {
    display: flex;
    gap: 33px;
}

.header .header--nav a {
    color: var(--grey-text);
    font-family: 'Barlow';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
}

.header .header--nav a:hover {
    color: var(--second-grey-text);
}


/* hero styles */

.hero-container {
    background-image: url(../images/Bitmap.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 115px 0 116px 85px;
    margin-bottom: 136px;
}

.hero .hero--title {
    color: #FEFCF7;
    font-family: var(--second-font-family);
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    margin-bottom: 32px;
}

.hero .hero-desc {
    color: var(--white-text);
    font-family: Barlow;
    margin-bottom: 56px;
    opacity: 0.8;
}

.hero a {
    border: 1px solid white;
    border-radius: 6px;
    background: transparent;
    padding: 15px 31px 16px;
    color: var(--white-text);
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.hero a:hover {
    background: #66D2CF;
    color: var(--white-text);
}


/* collection styles */

.collection .collection--container {
    margin-bottom: 200.45px;
    height: 524.55px;
    position: relative;
}

.collection .title {
    position: absolute;
    left: 100px;
    font-size: 180px;
    padding-top: 50px;
    height: 150px;
    background: -webkit-linear-gradient(90deg, #f7f6f1 5%, rgba(246, 246, 241, 1) 53%, #d7d7d5 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    color: transparent;
}

.collection .products {
    position: absolute;
    top: 80px;
}

.collection .products ul {
    display: flex;
    gap: 30px;
    padding-left: 85px;
}

.collection .product img {
    margin-bottom: 71.55px;
}

.collection .product--title {
    text-align: center;
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 32px;
}

.collection .product--desc {
    color: #333D4B;
    text-align: center;
    font-family: Barlow;
}


/* features styles */

.features .feature--container {
    position: relative;
}

.features .choose {
    padding-top: 100px;
    width: 100%;
    height: 577px;
    background-color: #293039;
    position: absolute;
}

.features .feature--title {
    color: var(--white-text);
    text-align: center;
    font-family: Fraunces;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 32px;
}

.features .feature--desc {
    color: var(--white-text);
    text-align: center;
    font-family: Barlow;
    opacity: 0.8;
}

.features .features--cards ul {
    position: absolute;
    top: 346px;
    display: flex;
    gap: 30px;
    margin-left: 85px;
}

.features .features--cards .card {
    width: 350px;
    height: 382px;
    border-radius: 8px;
    background: #0E8784;
    padding: 72px 48px 48px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .features--cards .card3 {
    padding-top: 90px;
}

.features .features--cards .card img {
    margin-bottom: 56px;
}

.features .features--cards .card .title {
    color: var(--white-text);
    text-align: center;
    font-family: Fraunces;
    font-weight: 900;
    line-height: 32px;
    margin-bottom: 24px;
}

.features .features--cards .card .desc {
    color: var(--white-text);
    text-align: center;
    font-family: Barlow;
}